body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: #fff;
  box-sizing: border-box;
}
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: #fff;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #202020;
  color: #fff;
  padding: 5px 0;
  background-image: url(/public/imagenes/generales/fondo-4.webp);
  background-position: bottom;
  background-size: cover;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 0;


  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .contenedor .logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  user-select: none;
}

#popup {
  position: absolute;
  background-color: #d47d42;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
  user-select: none;
}

#popup.show {
  display: block;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.copy-text {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.copy-text:hover {
  color: #d47d42;
  transition: color 0.3s ease-in-out;
}

header .contenedor .logo img {
  width: 100px;
  height: auto;
  transition: 0.5s ease-in-out;
}

header .contenedor .logo img:hover {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}

header .contenedor p {
  font-family: "Lilita One", sans-serif;
  font-size: 35px;
  margin: 0;
  padding: 0 0 0 10px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}

header nav ul li {
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  align-items: center;
  position: relative;
  letter-spacing: 1px;
}

header nav ul li a {
  color: #fff;
  font-family: "Lilita One", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

header nav ul li a:hover {
  color: #d47d42;
  transition: color 0.2s ease-in-out;
}
.awds {
  margin: 0;
}
/* Selector-lenguage */
.selector-lenguage {
  position: relative;
  display: inline-block;
  color: #fff;
  margin: 0;
}
.selector-lenguage:hover .options-container {
  display: block;
}
.selector-lenguage .select-box {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  background-color: #1d1d1d;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: border-color 0.3s, box-shadow 0.3s;
  position: relative;
  width: 150px;
  box-sizing: border-box;
}
.selector-lenguage .select-box:hover,
.selector-lenguage .select-box:focus {
  background-color: #101010;
  border-color: #101010;
}
.selector-lenguage:hover .select-box {
  border-radius: 5px 5px 0 0;
}
.selector-lenguage .select-box img {
  width: 24px;
  margin-right: 8px;
  user-select: none;
  -webkit-user-drag: none;
}
.selector-lenguage .select-box span {
  font-size: 18px;
  user-select: none;
  font-family: "Lilita One", sans-serif;
  font-weight: lighter;
}
.selector-lenguage .select-box .arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  margin-left: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
.selector-lenguage:hover .arrow-down {
  transform: rotate(-180deg);
}
.selector-lenguage .options-container {
  position: absolute;
  width: 148px;
  top: 100%;
  border: 1px solid #1d1d1d;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #1d1d1d;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.selector-lenguage .option {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;
}
.selector-lenguage .option img {
  width: 20px;
  margin-right: 8px;
  user-select: none;
  -webkit-user-drag: none;
}
.selector-lenguage .option span {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.selector-lenguage .option:hover {
  background-color: #101010;
}

/* Menu Button */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer; 
  z-index: 2;
}

.menu-toggle .bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.3s;
}

/* Media Queries */
@media (max-width: 768px) {
  header nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
  }

  header nav ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 150px;
    border-radius: 15px 0 0 15px;
    background-color: #202020;
    gap: 0;
    z-index: 2;
    padding: auto;
    transform: translateY(0px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    box-shadow: -12px 0 20px rgba(0, 0, 0, 0.3);
  }
  header nav ul.active {
    opacity: 1;
    visibility: visible;
  }
  header nav ul li {
    text-align: center;
    padding: 10px 0px;
    width: 100%;
  }


.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  color: #c5c5d2;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}

.sidebar-item:hover {
  background-color: #2f2f45;
  color: #ffffff;
}

.sidebar-item.active {
  background-color: #5a3df1;
  color: #ffffff;
}

.sidebar-item .icon {
  font-size: 20px;
}

/* Badge de notificación */
.sidebar-item .badge {
  margin-left: auto;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 10px;
}

/* Modo oscuro/claro */
body.light .sidebar {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body.light .sidebar-item {
  color: #333;
}

body.light .sidebar-item:hover {
  background-color: #f0f0f0;
}

body.light .sidebar-item.active {
  background-color: #5a3df1;
  color: white;
}


  .menu-toggle {
      display: flex;
  }

  .selector-lenguage {
      margin: 0px 25px 0px 0px;
      padding: 0;
      width: auto;
  }
  header .contenedor .logo p {
    font-size: 19px;
  }

  header .contenedor .logo img {
    width: 40px;
  }

  header .contenedor .menu-idioma .selector-lenguage {
    margin: 0;
  }
  
}

/* Animación para el botón del menú cuando está activo */
.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(-50deg) translate(-6px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(50deg) translate(-6px, -6px);
}

/* LOADING */
@keyframes blur-in {
  0% {
      opacity: 0;
      filter: blur(5px);
  }
  100% {
      opacity: 1;
      filter: blur(0);
  }
}

@keyframes blur-out {
  0% {
      opacity: 1;
      filter: blur(0);
  }
  100% {
      opacity: 0;
      filter: blur(5px);
  }
}

.translatable {
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.blur-in {
  animation: blur-in 0.5s forwards;
}

.blur-out {
  animation: blur-out 0.5s forwards;
}


/* ANIMACION SCROLL */
@media (max-width: 768px) {
  header .container {
      flex-direction: column;
  }
  header nav ul {
      flex-direction: column;
      align-items: center;
  }
}
@keyframes show {
  from {
      opacity: 1;
      scale: 25%;
  }
  to {
      opacity: 1;
      scale: 100%;
  }
}
#servicios .contenedor .caja, .header-titulo::after{
  view-timeline-name: --subjectReveal;
  view-timeline-axis: block;

  animation-timeline: --subjectReveal;
  animation-name: show;

  animation-range: entry 10% contain 25%;
  animation-fill-mode: both;
}

/* SECCIONES*/
section {
  text-align: center;
  padding: 150px 0px 150px 0px;
}
section h2.titulo{
  margin-top: 0;
  font-size: 35px;
  line-height: 44px;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  stroke: #000;
  font-family: "Lilita One", sans-serif;
}
section h3.descripcion{
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-top: 34px;
  font-family: 'Poppins', sans-serif;
}
.header-titulo::after{
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #fff;
  display: block;
  content: "";
  height: 2px;
  margin-top: 13px;
}
.header-titulo{
  text-align: center;
}

/* CARRUSEL */
#slide{
  position: relative;
  margin: auto;
  width: 100%;
  height: 600px;
  overflow:hidden;
}
#slide ul{
  position: relative;
  width: 400%;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#slide ul li{
  position: relative;
  float: left;
  width: 25%;
  margin: 0px;
  padding: 0px;   
}
#slide ul li video,
#slide ul li img{
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
  user-select: none;
  transition: transform 0.8s;
}
#slide ul li:hover video,
#slide ul li:hover img{
  transform: scale(1.2);
}
#slide #paginacion{
  position: relative;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  bottom:50px;
  user-select: none;
  z-index: 1;
}
#paginacion:hover .circle{
  transform: scale(1.5);
}
#paginacion li:hover .circle{
  transform: scale(2.25);
}
#slide #paginacion li{
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
  opacity: .5;
  color: white;
  text-shadow: 0px 0px 5px #333;
  transition: margin 0.8s ease;
}
#slide #paginacion:hover li{
  margin: 0px 10px;
}
#slide #paginacion li:first-child{
  opacity: 1;
}
#slide .flechas{
  position: absolute;
  font-size: 2em;
  color: white;
  cursor: pointer;
  user-select: none;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}
#slide .flechas:hover{
  transform: scale(1.5);
}
#slide #retroceder{
  top: 50%;
  left: 2%;
}
#slide #avanzar{
  top: 50%;
  right: 2%;
}
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
#slide ul li .texto-slide-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
#slide ul li .texto-slide{
  width: 40%;
  text-align: center;
  z-index: 1;
  color: #fff;
  border-radius: 15px;
  opacity: 0;
  animation: fadeInUp 1s forwards;
  user-select: none;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
#slide ul li .texto-slide:hover{
  background-color: #0000002f;
  box-shadow: 0px 0px 100px 75px #0000002f;
}
#slide ul li .texto-slide .titulo-h1{
  padding: 5px 0;
  font-size: 42px;
  font-weight: bold;
  font-family: "Open Sans";
  transition: transform 0.8s ease-in-out, margin 0.8s ease-in-out;
}
#slide ul li .texto-slide .descripcion-h3{
  padding-bottom: 10px;
  font-size: 21px;
  padding: 0px 10%;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.8s ease-in-out;
}
#slide ul li .texto-slide:hover h1{
  transform: scale(1.1);
  margin: 0px 0px 50px 0px;
}
#slide ul li .texto-slide:hover h3{
  transform: scale(1.1);
}
.circle{
  width: 11px;
  height: 11px;
  border: 1px solid #eeeeee;
  background:#eeeeee;
  border-radius: 50%;
  float: left;
  position: relative;
  transition: transform 0.8s;
}

/* CANTACTANOS */
#contactus {
  padding: 0px;
}
.contactus{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  padding: 57px 0px 57px 0px;
}
.contactus h2{
  font-size: 28px;
}
.contactus .boton{
  background-color: #d47d42;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 0px 15px 0px 10%;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #c2723d;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
}
.contactus .boton:hover{
  border-color: #c26d35;
  background-color: #d17436;
  transform: scale(1.02);
}
.contactus .boton:active {
  background: #ba6730;
  transform: scale(1);
}
@media (max-width: 1024px) {
  #slide ul li .texto-slide{
      width: 85%;
  }
  #slide ul li .texto-slide .titulo-h1{
      width: 100%;
  }
  #slide ul li .texto-slide .descripcion-h3{
      width: 100%;
  }
  #slide ul li .texto-slide .descripcion-h3{
      font-size: 16px;
      padding: 0;
  }
  .contactus .boton{
      padding: 15px 12px;
      margin: 5%;
  }
  .contactus h2{
      font-size: 22px;
  }
}

/* POR QUE NOSOTROS*/
#porque-nosotros{
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  padding: 100px 25% 100px 25%;
  background-color: #202020;
  font-family: 'Poppins', sans-serif;
  background-image: url(/public/imagenes/generales/fondo-3.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1024px) {
  #porque-nosotros{
      padding: 100px 5% 100px 5%;
  }    
}

/* SERVICIOS */
#servicios{
  background-image: url(/public/imagenes/generales/fondo-2.webp);
  background-position: center;
  background-size: cover;
}
#servicios .contenedor{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 24px;
}
#servicios .descripcion{
  font-size: 18px;
}
#servicios .contenedor .caja{
  width: 25%;
  background: #d47d42;
  border-radius: 20px;
  margin: 10px;
  padding: 25px;
  text-align: left;
  box-shadow: 0px 4px 6px 0px #d47d42, 0 5px 4px -2px #ff660000;
  transition: background-color 0.3s ease-in-out, transform 0.8s ease-in-out;
}
#servicios .contenedor .caja:hover {
  background: #c9733a;
  transform: scale(1.05);
}
#servicios .caja .icono{
  margin: 0px 0px 16px;
}
#servicios .caja .titulo{
  font-size: 22px;
  margin: 0px 5px 8px;
  font-family: "Open Sans";
}
#servicios .caja .texto{
  font-size: 18px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 1024px) {
  #servicios .contenedor .caja{
      width: 50%;
  }
  #servicios .caja .titulo{
      font-size: 18px;
  }
  #servicios .caja .texto{
      font-size: 16px;
  }
  #servicios .caja .icono{
      margin: 0px 0px 5px;
  }
}

/* TESTIMONIOS */
#testimonios{
  background-image: url(/public/imagenes/generales/02.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-position-y: center;
}
#testimonios .carrusel {
  position: relative;
  max-width: 800px; /* Ajustar según sea necesario */
  margin: auto;
  overflow: hidden;
}
#testimonios .carrusel .carrusel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
#testimonios .carrusel .carrusel-slide .testimonios {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  user-select: none;
}
#testimonios .carrusel .carrusel-slide .testimonios .svg-testimonio {
  height: auto;
  margin-bottom: 24px;
}
#testimonios .carrusel .carrusel-slide .testimonios .texto-testimonio {
  font-size: 22px;
  color: #fff;
  margin: 0px 7% 0px 7%;
  text-align: center;
  margin-bottom: 24px;
  font-family: 'Poppins', sans-serif;
}
#testimonios .carrusel .carrusel-slide .testimonios .nombre-testimonio{
  font-weight: bold;
  font-size: 18px;
}
#testimonios .carrusel span.prev,
#testimonios .carrusel span.next {
  position: absolute;
  font-size: 2em;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}
#testimonios .carrusel span.prev:hover,
#testimonios .carrusel span.next:hover{
  transform: scale(1.5);
}
#testimonios .carrusel span.prev {
  top: 45%;
  left: 10px;
}
#testimonios .carrusel span.next {
  top: 45%;
  right: 10px;
}
#testimonios .carrusel button.prev:hover,
#testimonios .carrusel button.next:hover {
  background-color: #000000;
  border-color: transparent;
}

.preguntas-frecuentes {
  width: 80%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.faq {
  width: 100%;
}

.preguntas-frecuentes .caja {
  border-bottom: 1px solid #333;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

.pregunta-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0px 10px;
}

.pregunta {
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding: 15px 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.pregunta:hover {
  text-decoration: underline;
  color: #d47d42;
}

.respuesta-wrapper {
  position: relative;
  top: 100%;
  max-height: 0px;
  overflow: hidden;
  text-align: start;
  padding: 0px 20px;
  transition: max-height 0.5s ease-in-out; /* Adjusted for faster closing */
  margin-bottom: 10px;
}

.respuesta {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.respuesta a {
  color: #fff;
  text-decoration: underline;
}

.respuesta-wrapper.open {
  max-height: 500px; /* Set a high enough value to fully reveal content */
}

.flecha {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  transition: transform 0.5s ease; /* Adjusted for faster rotation */
}

.flecha.open {
  transform: rotate(-180deg);
}



/* CONTACTO */
#contacto{
  background-image: url(/public/imagenes/generales/fondo-1.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #202020;
}
#contacto .caja{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0% 10%;
  gap: 20px;
}
#contacto .informacion{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
#contacto .informacion .info-header{
  text-align: center;
}
#contacto .informacion .info-header .desc-contacto{
  font-size: 16px;
  line-height: 28px;
  font-family: 'Poppins', sans-serif;
}
#contacto .informacion .info{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#contacto .informacion .info svg {
  width: 35px;
  height: 35px;
  fill: none;
  stroke: #d47d42;
  stroke-width: 2;
  flex-shrink: 0;
}
#contacto .informacion .info p{
  text-align: initial;
  font-size: 28px;
  padding: 0px 0px 0px 5px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
#contacto .contacto {
  width: 100%;
  color: #f3f3f3;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
}
#contacto .contacto h2 {
  margin: 0px 0px 20px 0px;
  text-transform: uppercase;
}
#contacto .contacto .content {
  position: relative;
}
#contacto .contacto .content input,
#contacto .contacto .content textarea {
  width: 100%;
  font-size: 16px;
  color: #f3f3f3;
  margin-bottom: 35px;
  border: none;
  border-bottom: 1px solid #f3f3f3;
  outline: none;
  background: transparent;
}
#contacto .contacto .content label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #f3f3f3;
  pointer-events: none;
  transition: .5s;
}
#contacto .contacto .content input:focus~label,
#contacto .contacto .content input:not(:placeholder-shown)~label {
  top: -20px;
  left: 0;
  font-size: 12px;
}
#contacto .contacto .content textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #f3f3f3;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #f3f3f3;
  outline: none;
  background: transparent;
}
#contacto .contacto .content input:focus~label,
#contacto .contacto .content input:not(:placeholder-shown)~label,
#contacto .contacto .content textarea:focus~label,
#contacto .contacto .content textarea:valid~label {
  top: -20px;
  left: 0;
  font-size: 12px;
}
#contacto .contacto form .btn button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background-color: #d47d42;
  border: 2px solid #c2723d;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
}
#contacto .contacto form .btn button:hover {
  border-color: #c26d35;
  background-color: #d17436;
  transform: scale(1.01);
}
#contacto .contacto form .btn button:active {
  background: #b8b8b8;
  transform: scale(1.01);
}
#contacto .contacto form .btn {
  margin-top: 10px;
}
#contacto .main-content .contacto {
  flex-basis: 100%;
  padding: 10px 20px;
}
#contacto .contacto .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 10%;
}
#contacto .contacto form input {
  height: 35px;
}
@media (min-width: 1023px) {
  #contacto .informacion {
      width: 40%;
  }
  #contacto .contacto {
      width: 35%;
  }
  #contacto .informacion .info p{
      font-size: 25px;
  }
}
@media (max-width: 1024px) {
  #contacto .informacion {
      width: 100%;
  }
  #contacto .contacto {
      width: 400px;
      margin: auto;
      display: block;
  }
  #contacto .informacion .info p{
      font-size: 20px;
  }
}

/* CITA */
#form {
  margin: 0;
}
#agenda-cita {
  background-image: url(/public/imagenes/generales/fondo-2.webp);
  background-position: center;
  background-size: cover;
}
.cita {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
#agenda-cita .cita .cita-header {
  display: block;
  text-align: left;
  margin: 20px 20% 0px 20%;
  padding: 0;
}
#agenda-cita .cita .cita-header .header-titulo,
#agenda-cita .cita .cita-header .titulo {
  text-align: left;
  font-size: 24px;
  margin: 20px 20px 10px 20px;
  padding: 0;
}










/* styles/scrollReveal.css */
.scroll-reveal {
  opacity: 0;
  transform: translateX(-800px);
  transition: all 0.8s ease;
}

.scroll-reveal.visible {
  opacity: 1;
  transform: translateX(0);
}









.linea {
  position: relative;
  width: 35%;
  height: 2px;
  background-color: #d47d42;
  border-radius: 2px;
  left: 20px;
  margin-bottom: 30px;
}
.selectores,
.range-model-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px 50px;
  margin: 20px 20% 0px 20%; /* Espacio entre filas */
  justify-content: center;
}
.selectores .container,
.range-model-container .container {
  flex: 1;
  min-width: 45%;
  margin: 0px 0px 20px 0px;
}
#agenda-cita .cita .container label {
  display: block;
  margin-bottom: 10px; /* Espacio entre la etiqueta y el input */
}
/* Custom Select*/
.custom-select {
  position: relative;
  display: inline-block;
  width: 250px;
  color: #000;
}
#custom-tipo-marca,
#custom-tipo-vehiculo {
  margin: 0;
  width: 100%;
}
.custom-select .select-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.custom-select .select-box:hover,
.custom-select .select-box:focus {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
.custom-select .select-box.open {
  border-radius: 5px 5px 0px 0px;
}
.custom-select .select-box img {
  height: 50px;
  margin-right: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.custom-select .select-box span {
  font-size: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-select .arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  margin-left: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
.custom-select:hover .arrow-down {
  transform: rotate(-180deg);
}
.custom-select .options-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.custom-select .option {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-select .option img {
  height: 35px;
  margin-right: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.custom-select .option:hover {
  background-color: #f0f0f0;
}
select {
  display: none;
}
/* año */
.range-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 0 auto;
}
#año-range {
  flex: 1;
  margin-right: 10px;
}
input[type="range"] {
  width: 250px;
  background: transparent;
  height: 20px;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  margin: 0;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  border-radius: 50px;
  height: 20px;
}
input[type="range"]::-moz-range-track {
  background: #ddd;
  border-radius: 50px;
  height: 20px;
}
input[type="range"]::-ms-track {
  background: #ddd;
  border-radius: 50px;
  height: 20px;
  border: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #d47d42;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #d47d42;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border: none;
}
input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #d47d42;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border: none;
}
/* Informacion Personal */
.personal-info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 50px;
  margin: 20px 20% 0px 20%;
  justify-content: center;
}
.personal-info-container input{
  flex: 1;
  min-width: 220px;
  max-width: 250px;
}
#agenda-cita .cita input[type="email"],
#agenda-cita .cita input[type="number"],
#agenda-cita .cita input[type="text"] {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
#agenda-cita .cita input[type="email"]:focus,
#agenda-cita .cita input[type="number"]:focus,
#agenda-cita .cita input[type="text"]:focus {
  border-color: #d47d42;
  box-shadow: 0 0 5px #d47d42;
}
#agenda-cita .cita input[type="email"]::placeholder,
#agenda-cita .cita input[type="number"]::placeholder,
#agenda-cita .cita input[type="text"]::placeholder {
  color: #aaa;
  font-style: italic;
}
/* boton */
#agenda-cita .cita .boton {
  margin-top: 25px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #d47d42;
  border: 2px solid #c2723d;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
#agenda-cita .cita .boton:hover {
  border-color: #c26d35;
  background-color: #d17436;
  transform: scale(1.05);
}
#agenda-cita .cita .boton:active {
  background-color: #913a00; /* Color de fondo al hacer clic */
  transform: scale(1);
}
@media (max-width: 768px) {
  .selectores,
  .range-model-container,
  .personal-info-container {
      flex-direction: column;
  }

  .selectores .container,
  .range-model-container .container,
  .personal-info-container input {
      min-width: 100%;
  }
}

/* FOOTER */
footer {
  background-color: #202020;
  color: #fff;
  padding: 20px 0;
}
footer .container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}
footer .footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}
.footer-content {
  display: flex;
  align-items: center;
}
.footer-content-title {
  margin: 0px 5px 0px 0px;
}
footer .footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;        
}
footer .footer-section p {
  margin: 5px 0;
}
footer .footer-section a {
  color: #fff;
  text-decoration: none;
}
footer .footer-section .iconos{
  display: flex;
  align-items: center;
  transition: transform .1s ease;
}
footer .footer-section .icono{
  background-color: #f00075;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 10px;
}
footer .footer-section a:hover{
  text-decoration: underline;
}
footer .footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
}
footer .footer-bottom p {
  margin: 0;
}
@media (max-width: 1024px) {
  footer .container {
      flex-direction: column;
      align-items: center;
  }
  footer .footer-section {
      text-align: center;
  }
}
.icon-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.icon-item {
  display: flex;
  margin: 8px;
  border-radius: 50%;
  padding: 0;
}
.icon-item:hover {
  transform: scale(1.1);
}
.icon-link svg {
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: transform 0.3s ease;
  fill: #fff;
}
.whatsapp .icon-link svg{
  width: 30px;
}
.instagram {
  background-color: #f00075;
}
.whatsapp {
  background-color: #25D366;
}
